@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", sans-serif;
}

/* typography */
h1 {
  font-size: calc(1.5em + 0.5vw) !important;
}

h2 {
  font-size: calc(1.1em + 0.4vw) !important;
}

h3 {
  font-size: calc(1em + 0.3vw) !important;
}

h4 {
  font-size: calc(0.9em + 0.2vw) !important;
}

h5 {
  font-size: calc(0.8em + 0.2vw) !important;
}

h6 {
  font-size: calc(0.7em + 0.2vw) !important;
}

p {
  font-size: 1.2rem !important;
}

small {
  font-size: calc(0.5em + 0.2vw) !important;
}
/* typography */
